<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>
    <p>bnagkok, bangkok, thailand</p>
    <h3>Phone</h3>
    <p>+66 88 8888 8888</p>
    <h3>Email</h3>
    <p><a href="mailto:test@test.com?subject=PortfolioContact" "email us">Email Us</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243.0903714764796!2d100.89235148061532!3d12.87902154026506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31029420507aaed9%3A0x3e46d14bf57d5b77!2sTravel%20Team!5e0!3m2!1sen!2sth!4v1569059264552!5m2!1sen!2sth" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>