
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">I am a newby in Rails development and experienced in overall computer technologies, learning and getting better with every single day. Seems difficult at first, but never give up.</p>
  <p class="lead">
    <%= link_to "About Us", about_us_path, class: "btn btn-lg btn-secondary" %>
  </p>
